@media (max-width: 768px) {
    /* Estilos para telas menores */
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-image: url("https://d2pn8kiwq2w21t.cloudfront.net/images/PIA25986.width-1600.jpg");
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
  }

  